.btn {
  background: transparent
    linear-gradient(
      180deg,
      var(--unnamed-color-ed8770) 0%,
      var(--unnamed-color-d9519d) 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #ed8770 0%, #d9519d 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;

  display: flex;
  align-items: center;

  color: white;
  border-radius: 20px;
  border: none;

  min-width: 80px;
  padding: 0.5rem;
}

.btn > * {
  margin: 0 0.5rem;
}

.btn-img {
  background: transparent url("//src/assets/play.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

span {
  font-size: 11px;
}

.btn-trans {
  background: none;
  border: 1px solid white;
}
