<div class="page__layout">
  <div class="page__header">
    <div class=" page__headerimg">
        <div class="settings__icon">
            <div class="line --long"></div>
            <div class="line --short"></div>
            <div class="line --long"></div>
        </div>
    </div>  
      <h2 class="page__headertext">Settings</h2>
  </div>
  <div class="page__main">
      <div class="page__item">
          <img src="../../assets/display.svg" alt="" class="page__img" />
        <div class="page__container">
        <p class="page__text">Display</p>
        </div>
      </div>
      <div class="page__item">
          <img src="../../assets/audio.svg" alt="" class="page__img" />
        <div class="page__container">
        <p class="page__text">Audio</p>
        </div>
      </div>
      <div class="page__item">
          <img src="../../assets/headset.svg" alt="" class="page__img" />
        <div class="page__container">
        <p class="page__text">Headset</p>
        </div>
      </div>
      <div class="page__item">
          <img src="../../assets/lockscreen.svg" alt="" class="page__img" />
        <div class="page__container">
        <p class="page__text">Locksreen</p>
        </div>
      </div>
      <div class="page__item">
          <img src="../../assets/other.svg" alt="" class="page__img" />
        <div class="page__container">
        <p class="page__text">Advanced</p>
        </div>
      </div>
      <div class="page__item">
          <img src="../../assets/other.svg" alt="" class="page__img" />
        <div class="page__container">
        <p class="page__text">Other</p>
        </div>
      </div>
    </div
  </div>
  <footer class="page__footer">
    <nav class="player__nav">
      <div class="menu__item">
        <a href="#">
          <div class="home">
            <div class="square"></div>
            <div class="round"></div>
            <div class="square"></div>
            <div class="square"></div>
          </div>
          <span class="menu--text">Home</span>
        </a>
      </div>
      <div class="menu__item">
        <a href="#">
          <img
            src="../../assets/songs.svg"
            alt="Songs"
            class="nav__icon menu--active"
          />
          <span class="menu--text">Songs</span>
        </a>
      </div>
      <div class="menu__item">
        <a href="#">
          <img src="../../assets/settings.svg" alt="Songs" class="nav__icon" />
          <span class="menu--text">Settings</span>
        </a>
      </div>
    </nav>
  </footer>
</div>
