.button-nav {
  width: 100vw;
  height: 67px;

  background-color: #151827;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 10px auto;

  position: fixed;
  bottom: 0;
  left: 0;

  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}
