.player__nav {
  width: 100vw;
  height: 67px;

  background-color: #151827;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 10px auto;

  position: fixed;
  bottom: 0;
  left: 0;

  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

/* Playlist */

.playlist {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 133px;
  list-style: none;

  background-color: #191a2c;
}

.playlist li {
  width: 100vw;
  height: 45px;
  display: flex;
  align-items: center;
  margin-bottom: 13.5px;
}
.song {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #282b3b;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.song-title {
  margin: 0;
  color: #a3a4ab;
  font-size: 0.7rem;
}
.song-artist {
  display: block;
  font-size: 0.5rem;
  color: #585b67;
}
.song-pic {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 10px;
}

.play-pic {
  /* width: 2 2px; */
  margin-right: 20px;
  padding: 10px;
}

.play-pic:active {
  box-shadow: 1px 1px 2px 1px #8c0a5e, -1px -1px 2px 1px #8c0a5e;
}

.player__controlbar {
  min-width: 100vw;
  position: fixed;
  bottom: 67px;

  display: flex;
  justify-content: space-between;

  background-color: #0c1020;
}
