/* Player  */
.player {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 1rem;
}
.player > :first-child {
  margin-bottom: 2rem;
}

/* Player  */
.player-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-nav > * {
  margin-right: 4rem;
}
.player-nav > :last-child {
  margin-right: 0;
}

/* Player Menu */
.player-menu > * {
  margin-right: 2rem;
}
.player-menu {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0;
}

.player-menu > * {
  height: 1rem;
}
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-text {
  display: block;
  margin-top: 1rem;
}

/* Play */
.play {
  width: 4rem;
}
