<div class="player">
  <div class="player-nav">
    <img class="back" src="../../assets/back.svg" alt="last song" />
    <img class="play" src="../../assets/play_circle.svg" alt="Play song" />
    <img class="next" src="../../assets/next.svg" alt="Play next song" />
  </div>
  <div class="player-menu">
    <div class="menu-item">
      <div class="menu-img">
        <img src="../../assets/playlist.svg" alt="playlist" class="playlist" />
      </div>
      <span class="menu-text">Playlist</span>
    </div>
    <div class="menu-item">
      <div class="menu-img">
        <img src="../../assets/shuffle.svg" alt="shuffle" class="shuffle" />
      </div>
      <span class="menu-text">Shuffle</span>
    </div>
    <div class="menu-item">
      <div class="menu-img">
        <img src="../../assets/repeat.svg" alt="repeat" class="repeat" />
      </div>
      <span class="menu-text">Repeat</span>
    </div>
    <div class="menu-item">
      <div class="menu-img">
        <img src="../../assets/eq.svg" alt="Equalizer" class="eq" />
      </div>
      <span class="menu-text">EQ</span>
    </div>
    <div class="menu-item">
      <div class="menu-img">
        <img
          src="../../assets/favorites.svg"
          alt="favorites"
          class="favorites"
        />
      </div>
      <span class="menu-text">Favourites</span>
    </div>
  </div>
</div>
