@import url("./assets/fonts/circular-std.css");

:root {
  --background-color: #151827;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Circular Std", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  background-color: #383b49;
  color: #ffffff;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  transform: scale(1.1);
  background: -webkit-linear-gradient(#ed8770, #d9519d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease-in-out;
}

.goTo-Text {
  background: -webkit-linear-gradient(#ed8770, #d9519d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
